<p>Each growth increases your magic generation by {{upgrade.type.effect[0].val | percent:{plusOne:true} }}, as well as your size.
Currently, your size increase magic generation by {{upgrade.effect[0].calcStats().prod | percent:{plusOne:true,longnum:true} }}.</p>
<p ng-if="upgrade.count().greaterThanOrEqualTo(upgrade.unit.stat('random.minlevel.expansion'))">
Your next growth has a {{upgrade.unit.stat('random.freq')|percent:0}} chance to award {{upgrade.effect[1].outputNext().qty|longnum}} reality fabrics.
</p>
<p ng-if="!upgrade.count().greaterThanOrEqualTo(upgrade.unit.stat('random.minlevel.expansion')) && game.unit('mutagen').isVisible()">
Grow {{upgrade.unit.stat('random.minlevel.expansion')|longnum}} more times to begin earning reality fabrics.
</p>
