<p>Potent are magic frozen for storage. Magic and potent can be freely frozen or unfrozen, but potent cannot be used directly.</p>
<p>Clone and Merge clones your potent as well as your magic. Freeze some magic into potent intended for cloning to avoid accidentally spending them.</p>

<p>You produce {{ game.unit('larva').velocity().times(options.velocityUnit().mult) | longnum }} magic per {{options.velocityUnit().label}}, allowing you to clone up to
<span ng-if="game.unit('cocoon').isVisible() && game.unit('cocoon').count().greaterThanOrEqualTo(game.upgrade('clonelarvae').effect[0].cap())">{{ game.upgrade('clonelarvae').effect[0].cap() | longnum }} magic.</span>
<span ng-if="!(game.unit('cocoon').isVisible() && game.unit('cocoon').count().greaterThanOrEqualTo(game.upgrade('clonelarvae').effect[0].cap()))">
  <a ng-href="#{{game.unit('cocoon').url()}}?num={{'@'+game.upgrade('clonelarvae').effect[0].cap()|encodeURIComponent}}">{{ game.upgrade('clonelarvae').effect[0].cap() | longnum }} magic</a>.
</span>
</p>
