<tabs></tabs>
<h1>Patch Notes</h1>
<div ng-if="false && env.isDebugEnabled" class="well">
  <p>The game has been running since {{changestats.firstrelease.date.format('YYYY/MM/DD')}}, for {{changestats.days|number}} days</p>
  <p>All-time: {{changestats.headers.length|number}} releases, {{changestats.headers.length/changestats.days|number:2}} releases per day</p>
  <p>Last week: {{changestats.lastHeaders(7).length|number}} releases, {{changestats.lastHeaders(7).length/7|number:2}} releases per day</p>
</div>
<div class="changelog">
<!-- template
<h4>0.0.1 <span>2009/09/09</span></h4>
<ul>
  <li>blah</li>
</ul>
-->

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#changelog10x" href="javascript:">
          Version 1.0.x
        </a>
      </h4>
    </div>
    <div id="changelog10x" class="panel-collapse collapse in">
      <div class="panel-body">
<h4>1.0.1<span>2015/10/07</span></h4>
<ul>
  <li>Fixed a bunch of bugs, and did some renaming / rebalancing.</li>
</ul>
<h4>1.0.0<span>2015/10/06</span></h4>
<ul>
  <li>Initial public release</li>
</ul>
      </div>
    </div>
  </div>
  <!--div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" href="javascript:">
          Collapsible Group Item #3
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div-->
</div>

</div>
